<h2>Get list of five most common three-word phrases by date range: </h2>
<div class="normalmode">
  <table class="table">
    <tr>
      <td class="td">
        <div class="title">Choose date range to get report: </div>
        <div>
          <form #f="ngForm" (ngSubmit)="onSubmitNgModelShingle()" novalidate>
            <my-date-range-picker name="ngModelDateRangeShingle" [options]="myDateRangePickerOptions" [(ngModel)]="model" required></my-date-range-picker>
            <div>
              <button class="button" type="submit">Get list of five most common three-word phrases by date range</button>
              <p class="error" *ngIf="!f.valid">Date range is required!</p>
            </div>
          </form>
        </div>
      </td>
    </tr>
  </table>
</div>
<h2>Top shingles: </h2>
<td class="td">
  <div class="title">View: </div>
  <ul>
    <li *ngFor="let review of reviews">
      freq: {{review.freq}}, shingle: {{review.shingle}}
    </li>
  </ul>
</td>
